extends layout


block content
  a(href='http://localhost:3000/logout') Logout

  h1= title

  p Todos for #{user.email}

  table
    tr
      th Task
      th Complete
    each val in todos
      tr
        td #{val.task}
        td #{val.done}

  script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.1/fetch.min.js')
  script
    include script.js
