extends layout


block content
  a(href='http://localhost:3000/logout') Logout

  #content

  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
  script(src='https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js')
  script
    include jwt-decode.js
  script
    include script.js
